
				<%= form_for(@rmonitor) do |f| %>
                               <% if @rmonitor.errors.any? %>
				<p id="error_explanation" class="note">
					<span class="icon info"></span> 
					<%= pluralize(@rmonitor.errors.count, "error") %> prohibited this rmonitor from being saved:<br/>
                                       
                             <% @rmonitor.errors.full_messages.each do |msg| %>
                                 <span style="padding-left: 29px;"> <%= msg %><br/></span>
                                      <% end %>
                                       
				</p>
                                <% end %>



				
				<div class="field">
					<!--<label class="left">Test description</label>
					<input type="text" class="left validate">-->
                                            <%= f.label :description,"Website Description",:class => "left" %>
                                            <%= f.text_field :description, :class => "left validate",:placeholder => "My New Website" %>
					
				</div>

				
				<div class="field">
					<!--<label class="left">URL</label>
					<input type="text" class="left validate tip-stay" title="Add a tip for focus!">-->
					<%= f.label :url,"URL",:class => "left"%>
                                        <%= f.text_field :url, :class => "left validate tip-stay" ,:placeholder=>"http://example.com",:title => "Enter http or https URL" %>
				</div>

				<div class="field">
					<!--<label class="left">Every</label>
					<input type="text" class="left validate">-->
                                        <%= f.label :every ,"Time Interval",:class => "left"%>
                                         <%= f.text_field :every, :class => "tiny left validate",:value => '5',:size =>'4',:maxlength => '4',:width => '100px' %><div style="padding-top: 5px;"></div>
                                          <span>
                                        <%= select("create","minutes",{"minutes" =>"m","hours"=>"h","days" => "d"}) %>
		                         </span>	
				</div>


				<div class="field">
					<label class="left">Contact</label>
					<input type="text" value="<%= current_user.attributes["email"] %>" class="left validate" disabled>
					
				</div>

			  	
			  <button><%= f.submit %></button>
			  <button class="secondary" type="reset">Reset</button>
			  <!--<button disabled="">Disabled Button</button>-->
			<% end %>	

