<%= form_for(@rmonitor, :url => {:action => "update"}, :html => {:method => :put}) do |f| %>
  <% if @rmonitor.errors.any? %>
    <p id="error_explanation" class="note">
     <span class="icon info"></span> 
      <%= pluralize(@rmonitor.errors.count, "error") %> prohibited this rmonitor from being saved:<br/>

      
      <% @rmonitor.errors.full_messages.each do |msg| %>
       <span style="padding-left: 29px;"><%= msg %><br/></span>
      <% end %>
     
    </p>
  <% end %>

  <div class="field">
    <%= f.label :description, "Website Description",:class => "left" %>
    <%= f.text_field :description, :class => "left validate"%>
  </div>

  <div class="field">
    <%= f.label :url,:class => "left" %>
    <%= f.text_field :url, :class => "left validate" %>
  </div>

    <div class="field">
   <%= f.label :every,"Time Interval",:class => "left"%>
   <%= f.text_field :every, :class => "tiny left validate",:size =>'4', :maxlength => '4',:width => '100px',:value=> time(@rmonitor) %><div style="padding-top: 5px;"></div>
     <span>
        
        <%= select("create","hours",time_unit(@rmonitor) ) %>
     </span>
  </div>


  <div class="field">
    <label class="left">Contact</label>
    <input type="text" value="<%= current_user.attributes["email"] %>" class="left validate" disabled>
  </div>

  <div class="actions">
    <button><%= f.submit %></button>
  </div>
<% end %>
