<%= form_for(@rmonitor, :url => {:action => "update"}, :html => {:method => :put}) do |f| %>
  <% if @rmonitor.errors.any? %>
    <p id="error_explanation" class="note">
     <span class="icon info"></span> 
      <%= pluralize(@rmonitor.errors.count, "error") %> prohibited this rmonitor from being saved:<br/>

      
      <% @rmonitor.errors.full_messages.each do |msg| %>
       <span style="padding-left: 29px;"><%= msg %><br/></span>
      <% end %>
     
    </p>
  <% end %>
  <div class="field">
    <%= f.label :every,:class => "left" %>
    <%= f.text_field :every, :class => "left validate" %>
  </div>
  <div class="field">
    <%= f.label :test,:class => "left" %>
    <%= f.text_field :test, :class => "left validate" %>
  </div>
  <div class="field">
    <label class="left">Contact</label>
    <input type="text" value="<%= current_user.attributes["email"] %>" class="left validate" disabled>
  </div>
  <div class="field">
    <%= f.label :url,:class => "left" %>
    <%= f.text_field :url, :class => "left validate" %>
  </div>
  <div class="field">
    <%= f.label :notify_interval,:class => "left" %>
    <%= f.text_field :notify_interval, :class => "left validate"%>
  </div>
  <div class="actions">
    <button><%= f.submit %></button>
  </div>
<% end %>
