<!-- 100% Box Grid Container: Start -->
<div class="grid_24">

	<!-- Info Notice: Start 
<% if flash[:notice] %>
	<div class="notice info">
		<p><%= flash[:notice] %></p>
	</div>
 <% end %>
	<!-- Info Notice: End -->

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<a name="news"></a>
		<h2 class="icon pages">Monitors<span class="tip" title="Welcome to your dashboard"><%= @rmonitors.length %></span></h2>
		
		<!-- Tab Select: Start -->
		<ul class="sorting">
			<li><a href="#listing" class="active">Listing</a></li>
			<li><a href="#addnews">Add Monitors</a></li>
		</ul>
		<!-- Tab Select: End -->
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content">
		
		<!-- News Table Tabs: Start -->
		<div class="tabs">
		
			<!-- News Sorting Table: Start -->
			<div id="listing">
				
				<table class="sorting">
					<thead>
						<tr>
							
							<!--<th class="align_left">Every</th>-->
							<th>Test</th>
							<th class="align_left">URL</th>
							<th class="align_left center">Status</th>
							<th class="align_left center">State</th>
                                                        <th class="align_left center"></th>
							<th class="align_left center tools">Tools</th>
						</tr>
					</thead>
					<tbody>
<%if @rmonitors == [] %>
 
<% else %>

<% @rmonitors.each do |rmonitor| %>
						
						<tr>
							<!--<td class="align_left center"><%= every(rmonitor["every"]) %></td>-->
							<td><%= rmonitor["test"] %></td>
							<td class="align_left"><a href="<%= rmonitor["url"] %>"><%= truncate(rmonitor["url"], :length => 33) %></td>
							<td class="align_left center"><%= rmonitor["status"] %></td>
                                                    <% if rmonitor["state"] == "stopped" %>
                                                        <td class="align_left center"><%= "Paused" %></td>
                                                    <% else %>
                                                        <td class="align_left center"><%= rmonitor["state"] %></td>
                                                    <% end %>
                                                      
    <% if rmonitor["state"] == "stopped" %>
    <td><%= link_to 'Restart', path_for("rmonitors",  rmonitor["_id"], "restart"), :confirm => 'Are you sure?', :method => :put, :class => "align_left center"%></td>
    <% elsif rmonitor["state"] == "active" %>
    <td><%= link_to 'Pause', path_for("rmonitors",  rmonitor["_id"], "pause"), :confirm => 'Are you sure?', :method => :put, :class => "align_left center" %></td>
    <% end %>
 
							
                                                        
							<td class="align_left tools center">
                 <%= link_to 'Edit', edit_path("rmonitors",  rmonitor["_id"]), :title => "edit",:class =>"edit tip"  %>
                 <%= link_to 'Show', show_path("rmonitors",  rmonitor["_id"]),:title => "view",:class=> "view tip" %>
                 <%= link_to 'Destroy', show_path("rmonitors",  rmonitor["_id"]), :confirm => 'Are you sure?', :method => :delete,:title => "delete", :class => "delete tip" %>
								
							</td>
						</tr>
<% end %>
<% end %>			
					</tbody>
				</table> 
				
			</div>
			<!-- News Sorting Table: End -->
			
			<!-- News Sorting Table - Add News Tab: Start -->
			<div id="addnews" class="padding">
			<%= render 'form' %>	
			</div>
			<!-- News Sorting Table - Add News Tab: End -->
		
		</div>
		<!-- News Table Tabs: End -->

	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->
