<!-- 100% Box Grid Container: Start -->
<div class="grid_24">

	<!-- Info Notice: Start -->
<% if flash[:notice] %>
	<div class="notice info">
		<p><%= flash[:notice] %></p>
	</div>
 <% end %>
	<!-- Info Notice: End -->

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<a name="news"></a>
		<h2 class="icon time">Website Monitor</h2>
		
		<!-- Tab Select: Start -->
		<ul class="sorting">
			<li><a href="#viewmonitor" class="active">View</a></li>
			<li><a href="#editmonitor">Edit</a></li>
		</ul>
		<!-- Tab Select: End -->
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content padding">
		
		<!-- News Table Tabs: Start -->
		<div class="tabs">
		
			<!-- News Sorting Table: Start -->
			<div id="viewmonitor">
				
			<p id="notice"><%= notice %></p>

                        <h2><%= @rmonitor_hash["test"] %></h2>

<p>
  <b>Monitor - Description:</b>
  <%= @rmonitor_hash["describe_test_result"] %>
</p>

<p>
  <b>Creation Date:</b>
  <%= @rmonitor_hash["creation_date"] %>
</p>

<p>
  <b>Runs Every:</b>
  <%= every(@rmonitor_hash["every"]) %>
</p>

<p>
  <b>Contact:</b>
  <%= @rmonitor_hash["contact"] %>
</p>

<p>
  <b>Url:</b>
  <a href="<%= @rmonitor_hash['url'] %>"><%= @rmonitor_hash["url"] %></a>
</p>

<p>
  <b>State:</b>
  <%= @rmonitor_hash["state"] %>
</p>

<p>
  <b>Last test result:</b>
  <%= @rmonitor_hash["last_test_result"] %>
</p>

<p>
  <b>Status:</b>
  <%= @rmonitor_hash["status"] %>
</p>

<p>
  <b>Number of tests Passed:</b>
  <%= @rmonitor_hash["num_tests_passed"] %>
</p>

<p>
  <b>Number of tests Failed:</b>
  <%= @rmonitor_hash["num_tests_failed"] %>
</p>

<p>
  <b>Time of last test:</b>
  <%= @rmonitor_hash["time_of_last_test"] %>
</p>

<p>
  <b>Total number of tests:</b>
  <%= @rmonitor_hash["total_num_tests"] %>
</p>

	
				
			</div>
			<!-- News Sorting Table: End -->
			
			<!-- News Sorting Table - Add News Tab: Start -->
			<div id="editmonitor" class="padding">
			<%= render 'update_form' %>	
			</div>
			<!-- News Sorting Table - Add News Tab: End -->
		
		</div>
		<!-- News Table Tabs: End -->

	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->
