
<!-- Grid Container: Start (centers) -->
	<div class="login2">

		<!-- 100% Box Grid Container: Start -->
		<div class="grid_12">
		
			<!-- Box Header: Start -->
			<div class="box_top">
				
				<h2 class="icon key">Login</h2>
				
				<!-- Tab Select: Start -->
				<ul class="sorting">
					<li><a href="#login" class="active">Login</a></li>
					<li><a href="#signup">Signup</a></li>
					<li><a href="#forgot">Forgot Password</a></li>
				</ul>
				<!-- Tab Select: End -->
				
			</div>
			<!-- Box Header: End -->
			
			<!-- Box Content: Start -->
			<div class="box_content padding">
				
				<!-- Tabs: Start -->
				<div class="tabs">
					
					<!-- Login Tab: Start -->
					<div id="login">
 
                                                
                                                <p class="note small">Enter your username and password to <b>login</b>.</p>
                                             
						
                                                <%= form_for(:session, :url => sessions_path) do |f| %>
						<!--<form action="dashboard.html" method="post">-->
						
							<div class="field noline nopadding">
                                                                <%= f.label :username, :class => "left"%>
								<!--<label class="left" for="username">Username</label>-->
                                                                 <%= f.text_field :username,:class => "validate tip-stay right", :title => "enter your username", :id => "username"  %>
								<!--<input type="text" class="validate tip-stay right" title="enter your username" id="username">-->
							</div>
							
							<div class="field">
                                                                <%= f.label :password, :class => "password left" %>
								<!--<label class="left" for="password">Password</label>-->
                                                                <%= f.password_field :password, :class => "validate tip-stay right", :title => "enter your password", :id => "password" %>
								<!--<input type="password" class="validate tip-stay right" title="enter your password" id="password">-->
							</div>
							
							<div class="field noline nopadding">
								
								<div class="right">
									<button type="submit"><%= f.submit "Sign in" %></button>
								</div>
							</div>
						
						<!--</form> -->
                                                <% end %>
						
					</div>
					<!-- Login Tab: End -->
					
					<!-- Signup Tab: Start -->

                                          
					<div id="signup">
				         
                                          <%= render :partial => 'users/form' %>
							
					</div>
					<!-- Signup Tab: End -->
					
					<!-- Forgot Password Tab: Start -->
					<div id="forgot">
						<p class="note small">Enter your E-Mail and we'll send you your password!</p>
						<%= form_for(:session, :url => send_password_reset_code_path) do |f| %>
						<!--<form action="dashboard.html" method="post">-->
						
							<div class="field">
                                                                <%= f.label :Email,:class => "left" %>
								<!--<label class="left" for="password">E-Mail</label>-->
                                                                <%= f.text_field :email,:class =>"validate tip-stay right",:title => "enter your email",:id => "text"%>
								<!--<input type="text" class="validate tip-stay right" title="enter your email" id="text">-->
							</div>
							
							<div class="field noline right nopadding">
								<button><%= f.submit "Send new Password" %></button>
							</div>
						
						<!--</form>-->
                                                <% end %>
						
					</div>
					<!-- Forgot Password Tab: End -->
					
				</div>
				<!-- Tabs: End -->
		
			</div>
			<!-- Box Content: End -->
			
		</div>
		<!-- 100% Box Grid Container: End -->
		
	</div>
	<!-- Grid Container: End (centers) -->


