<%= form_for(@user, :url => {:action => "update_email"}, :html => {:method => :put}) do |f| %>


  <% if @user.errors.any? %>
    <p id="error_explanation" class="note">
    <span class="icon info"></span> 
     <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:<br/>
      <% @user.errors.full_messages.each do |msg| %>
         <span style="padding-left: 29px;"> <%= msg %><br/></span>
      <% end %>
    </p>
  <% end %>
  <div class="field">
      <label class="left">Username</label>
      <input type="text" value="<%= current_user.attributes["username"] %>" class="left validate" disabled>
   <!-- <%= f.label :username %><br />
     <%= current_user.attributes["username"] %>-->
  </div>
  <div class="field">
    <%= f.label :email,:class => "left" %>
    <%= f.text_field :email, :class => "left validate" %>
  </div>
    <button><%= f.submit %></button>

<% end %>

