<!-- 100% Box Grid Container: Start -->
<div class="grid_16">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<a name="news"></a>
		<h2 class="icon pages">Fill in your new Password </h2>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content">
		
		
		
			
						<!-- News Sorting Table - Add News Tab: Start -->
			<div id="addnews" class="padding">

<%= form_for(@user, :url => {:action => "restore_password"}, :html => {:method => :put}) do |f| %>
  <% if @user.errors.any? %>
    <p id="error_explanation" class="note">
      <span class="icon info"></span> 
      <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: <br/>
      <% @user.errors.full_messages.each do |msg| %>
        <span style="padding-left: 29px;"> <%= msg %><br/></span>
      <% end %>
    </p>
  <% end %>

 
  <div class="field">
    <%= f.label :password, :class => "left" %>
    <%= f.password_field :password, :class => "left validate" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation,"Confirmation",:class => "left" %>
    <%= f.password_field :password_confirmation, :class => "left validate" %>
  </div>
  <div class="actions">
    <button><%= f.submit %></button>
  </div>
<% end %>
				
			</div>
			<!-- News Sorting Table - Add News Tab: End -->	
		
		

	</div>
	<!-- Box Content: End -->
	
</div>
<!-- 100% Box Grid Container: End -->



<!-- 75% Box Grid Container: Start -->
<div class="grid_8">

	<!-- Box Header: Start -->
	<div class="box_top">
		
		<h2 class="icon user"><%= @user_hash["username"] %></h2>
		
	</div>
	<!-- Box Header: End -->
	
	<!-- Box Content: Start -->
	<div class="box_content padding">
		
		<center><%= gravatar_for @user_hash, :size => 150  %>
            <!-- <button onclick='window.location="http://en.gravatar.com/emails/";'>Change Photo</button>-->
      </center>

	</div>
	<!-- Box Content: End -->
	
</div>	
<!-- 75% Box Grid Container: End -->





