
<h1><%=@monitors.length.to_s %> monitors running on the system</h1><br/>
<p><%= link_to "Logout", {:controller => "admin", :action => "logout"}, {:title => "Logout"} %></p>
<h2>Uptime Report</h2>
<% count = 0 %>
<% @monitors.each do |monitor|  %>
<% count = count + 1 %>
	<% if monitor.has_failed == TRUE %>
            <% @status = "DOWN" %>
        <% else %>
            <% @status = "UP" %>
        <% end %>
        <% if monitor.total_num_tests == 1 %>
            <%   @status = "pending..." %>
        <% end %> 
<% @uptime = (monitor.num_tests_passed.to_f / monitor.total_num_tests.to_f) * 100 %>
<% @downtime =(monitor.num_tests_failed.to_f / monitor.total_num_tests.to_f) * 100 %>
<%= count %>. <%= monitor.test_description %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uptime: <%= @uptime.to_i.to_s %>%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Downtime: <%= @downtime.to_i.to_s %>%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Current Status: <%= @status %><br/>
<% end %>

<% count = 0 %>
<h2>Detailed Report</h2>
<% @monitors.each do |monitor|  %>
    <% count = count + 1 %>
 <%= count %>. <%= link_to monitor.test_description, {:controller => "ragios", :action => "test_monitor", :id => count-1 }, {:title => "Run Test Now"} %><br/>
 
    Running since: <%= monitor.creation_date.to_s(:short) %><br/>
       
    
    Last Test Result:<br/>
                 <%= monitor.describe_test_result %> = <%= monitor.test_result %><br/>
    Performed on: <%= monitor.time_of_last_test.to_s(:short) %><br/>

    Total number of tests performed: <%= monitor.total_num_tests.to_s %><br/>

                   PASSED <%= monitor.num_tests_passed.to_s %> tests<br/>
                   FAILED <%= monitor.num_tests_failed.to_s %> tests<br/>
                   <% @uptime = (monitor.num_tests_passed.to_f / monitor.total_num_tests.to_f) * 100 %>
                   <% @downtime =(monitor.num_tests_failed.to_f / monitor.total_num_tests.to_f) * 100 %>
                   UPTIME <%= @uptime.to_i.to_s %>%<br/>
                   DOWN TIME <%= @downtime.to_i.to_s %>%<br/>

    Tests are performed every: <%= monitor.time_interval %><br/>
    Notification Interval for failed tests: <%= monitor.notification_interval %> <br/>
    <p><p/>
<% end  %>






