	<!-- Header Grid Container: Start -->
	<div class="grid_24">
		
		<!-- User Panel: Start -->
		<div id="userpanel"> 
			
			<!-- User: Start -->
			<ul id="user" class="dropdown right">
				<li class="topnav">
					<!-- User Name -->
					<a href="#" class="top icon user"><%=@current_user.attributes["username"]%></a>
					
					<!-- User Dropdown Content: Start -->
					<ul class="subnav">    
                                    <li><%= link_to "Log out", signout_path, :method => :delete, :class => 'icon lock' %></li>
			        </ul>  
			        <!-- User Dropdown Content: End -->
				</li>
			</ul>
			<!-- User: End -->
			
		</div>
		<!-- User Panel: End -->
		
		<!-- Header: Start -->
		<div id="header">
				
			<!-- Logo: Start -->
                       <a href="/" id="alogo">SouthMunn.com</a>
                        <!--<a href="/" id="logo">SouthMunn</a>-->
			<!-- Logo: End -->
			
			<!-- Navigation: Start -->
			<ul id="navigation" class="dropdown">
                        <% if @navigation == "dashboard" %>
                                <li><%= link_to "Dashboard", show_path("dashboard",  @current_user.attributes["username"]), :class => 'dashboard active'  %></li>
                       <% else %>

                           <li><%= link_to "Dashboard", show_path("dashboard",  @current_user.attributes["username"]), :class => 'dashboard'  %></li>
                        <% end %>

				<!-- Navigation Dropdown Menu Item: Start -->
				<li class="topnav">
                                   <% if @navigation == "profile" %>
					<a class="users active" href="#">Profile</a>
			           <% else %>
                                        <a class="users" href="#">Profile</a>
                                    <% end %>
					<!-- Navigation Dropdown Menu Item Content: Start -->
					<ul class="subnav">
                                                <li><%= link_to "Account info", show_path("users",  @current_user.attributes["username"]), :class => 'icon info'  %> </li>
                                    <li><%= link_to "Billing History", show_path("billing_history",  @current_user.attributes["username"]), :class => 'icon calendar' %></li> 
			        </ul> 
			        <!-- Navigation Dropdown Menu Item Content: End --> 
				</li>
				<!-- Navigation Dropdown Menu Item: End -->
				
				
			</ul>
			<!-- Navigation: End -->
			
		</div>
		<!-- Header: End -->
		
		<!-- Breadcrumb Bar: Start -->
		<div id="breadcrumb">
			
			<!-- Breadcrumb: Start -->
			<ul class="left">
                            <li  class="icon dashboard"><a id="breadcrumb-link" href="/dashboard/<%= current_user.attributes["username"] %>">Dashboard</a></li>
                            <% @breadcrumb.each do |key, value| %>
				<li class="icon point_right"><a href="<%=value %>"><%=key %></a></li>
                           <%  end %>    
			</ul>
			<!-- Breadcrumb: End -->
			
			<!-- Breadcrumb Icon Links: Start -->
			<ul class="right">
                             <%if current_user.admin? %>
                                <li><%= link_to "Manage Users", users_path, :class => "icon users tip", :title => "Manage Users" %></li>
				<li><%= link_to "Manage Monitors", rmonitors_path, :class => "icon strategy tip", :title => "Manage Monitors" %></li>
                             <% end %>
				<!--<li><a href="/faq" class="icon support tip" title="FAQ">FAQ</a></li>-->
                                <li><a href="/contact" class="icon contact tip" title="Contact">Contact</a></li>
				<li><a href="/" class="icon home tip" title="Home">Home</a></li>
			</ul>
			<!-- Breadcrumb Icon Links: End -->
			
		</div>
		<!-- Breadcrumb Bar: End -->
		
	</div>
	<!-- Header Grid Container: End -->
