<!DOCTYPE html>
<html>
<head>
 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Yeti</title>
	<%= csrf_meta_tag %>
	<!-- Imports General CSS and jQuery CSS -->
	<link href="/css/screen.css" rel="stylesheet" media="screen" type="text/css" />
	
	<!-- CSS for Fluid and Fixed Widths - Double to prevent flickering on change -->
	<link href="/css/fixed.css" rel="stylesheet" media="screen" type="text/css" />
	<link href="/css/fixed.css" rel="stylesheet" media="screen" type="text/css" class="width" />
	
	<!-- IE Stylesheet ie7 - Added in 1.2 -->
	<!--[if lt IE 8]> <html lang="en" class="ie7"> <![endif]-->
	
	<!-- IE Stylesheet ie8 - Added in 1.1 -->
	<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
	
	<!-- CSS for Theme Styles - Double to prevent flickering on change -->
	<link href="/css/theme/blue.css" rel="stylesheet" media="screen" type="text/css" />
	<link href="/css/theme/blue.css" rel="stylesheet" media="screen" type="text/css" class="theme" />
	
	<!-- IE Canvas Fix for Visualize Charts - Added in 1.1 -->
	<!--[if IE]><script type="text/javascript" src="/js/excanvas.js"></script><![endif]-->

           <%= javascript_include_tag :defaults %>
	
	<!-- jQuery thats loaded before document ready to prevent flickering - Rest are found at the bottom -->
	<script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/jquery.styleswitcher.js"></script>
	<script type="text/javascript" src="/js/jquery.visualize.js"></script>
        <script type="text/javascript" src="/js/html5slider.js"></script>
        <script type="text/javascript" src="/js/billEstimator.js"></script>
       
       
         
</head>
<body>
<!-- Start: Page Wrap -->
<div id="wrap" class="container_24">

<%= render 'layouts/header' %>

<style type="text/css"><!--
div.show { display: block }
div.hide { display: none; }
--></style>
<div class="container">
<section class="round">
<div class="grid_24">
<% flash.each do |key, value| %>
  <div class="notice warning flash <%= key %>"><p><%= value %></p></div>
<% end  %>
</div>
<%= yield %>
</section>

</div>
<%= render 'layouts/footer' %>
</div>
<!-- End: Page Wrap -->

	<!-- jQuery libs - Rest are found in the head section (at top) -->
	<script type="text/javascript" src="/js/jquery.visualize-tooltip.js"></script>
	<script type="text/javascript" src="/js/jquery-animate-css-rotate-scale.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.8.13.custom.min.js"></script>
	<script type="text/javascript" src="/js/jquery.poshytip.min.js"></script>
	<script type="text/javascript" src="/js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/js/jquery.facebox.js"></script>
	<script type="text/javascript" src="/js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="/js/jquery.wysiwyg.js"></script>
	<script type="text/javascript" src="/js/syntaxHighlighter/shCore.js"></script>
	<script type="text/javascript" src="/js/syntaxHighlighter/shBrushXml.js"></script>
	<script type="text/javascript" src="/js/syntaxHighlighter/shBrushJScript.js"></script>
	<script type="text/javascript" src="/js/syntaxHighlighter/shBrushCss.js"></script>
	<script type="text/javascript" src="/js/syntaxHighlighter/shBrushPhp.js"></script>
	<script type="text/javascript" src="/js/fileTree/jqueryFileTree.js"></script> <!-- Added in 1.2 -->
	
	<!-- jQuery Customization -->
	<script type="text/javascript" src="/js/custom.js"></script>

</body>
</html>
